.modal-title {
  display: block;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--title-color);
  margin-bottom: 12px;
}
.modal-form-field {
  margin-bottom: 10px;
}
.modal-form-text {
  margin-bottom: 20px;
}
.modal-form-check {
  margin-bottom: 30px;
}
.modal-form-label {
  display: block;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--main-text-color);
  margin-bottom: 4px;
}
.input-wrap {
  display: block;
  position: relative;
}
.modal-form-input {
  padding-left: 42px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus {
    border-color: var(--blue-color);
    cursor: pointer;
  }
}
.modal-form-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .modal-form-input:focus + & {
    fill: var(--blue-color);
  }
}
.modal-comment {
  display: block;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus {
    border-color: var(--blue-color);
    cursor: pointer;
  }
  &::placeholder {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}
.check-label {
  display: flex;
  align-items: center;
}
.icon-check {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  margin-right: 8.38px;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.checkbox:checked + .check-label > .icon-check {
  background-color: var(--blue-color);
  border: transparent;
}
.check-privacy {
  color: var(--blue-color);
  text-decoration: underline;
}
.btn-check {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: var(--blue-color);
  color: var(--white-text-color);
  border: transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: #188ce8;
    cursor: pointer;
  }
}
