.header {
  border-bottom: 1px solid #ececec;
}
.nav {
  display: flex;
}
.nav-item:not(:last-child) {
  margin-right: 50px;
}
.header-navigation {
  display: flex;
  align-items: center;
}
.header .container {
  display: flex;
  align-items: center;
}
.blue-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--blue-color);
}
.header-navigation .blue-logo {
  margin-right: 93px;
}
.logo {
  color: #000000;
}
.nav-link {
  position: relative;
  display: block;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-color);
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link:hover,
.nav-link:focus {
  color: var(--blue-color);
}
.current {
  color: var(--blue-color);
}
.current::after {
  content: '';
  position: absolute;
  display: block;
  background-color: var(--blue-color);
  width: 100%;
  height: 4px;
  border-radius: 2px;
  top: calc(100% - 3px);
}
.contacts {
  display: flex;
  margin-left: auto;
}
.contacts-link {
  display: flex;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-item:not(:last-child) {
  margin-right: 50px;
}
.contacts-link:hover,
.contacts-link:focus {
  color: var(--blue-color);
}
.nav-contacts-icon {
  display: block;
  fill: currentColor;
  margin-right: 10px;
}
